.dashboardGraph {
    box-sizing: border-box;
    padding: 20px;
    // height: 100%;
    // width: 100%;
    // overflow-x: scroll;
    margin: 10px 10px 10px 10px;
    border-radius: 15px;
    background-color: #2c2f47;
    > .dashboardGraph__covert {
        height: 20em;
    }
}
