@import "../../util/style/fonts";
@import "../../util/style/variables";

header {
    // position: absolute;
    // top: 0;
    // left: 0;
    width: 100%;
    padding: 25px 50px 25px 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    text-decoration: none;
    // color: rgb(255, 255, 255);
    color: $Color_Text;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: 1000;
}

.nav {
    // background: $Colsor_Dashboard_bg;
    position: relative;
    right: 0;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}

.item {
    margin-right: 10px;
}

.item a {
    // color: rgb(255, 255, 255);
    color: $Color_Text;
    border-radius: 24px;
    padding: 8px 18px 8px 18px;
    font-size: 1em;
    font-weight: 350;
    font-family: "Arvo", serif;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.item a:hover {
    color: $Color_Text;
    background: rgb(166, 221, 255);
}

.activeNav {
    color: $Color_Text !important;
    background: rgb(166, 221, 255);
}

.bars {
    display: none;
}
