@import "../../util/style/components";
@import "../../util/style/fonts";
@import "../../util/style/variables";

.question {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 20px;
  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: $Color__Dashboard__main !important;
}
.question__statement {
  font-family: sans-serif;
  line-height: 1.5rem;
  color: white;
  font-family: "Merriweather", serif;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
  pointer-events: none;
}
.option-wrapper {
  @include flexBox(column);
  > div {
    > input[type="radio"] {
      display: none;
    }
  }
}
.question__optionLabel {
  display: flex;
  font-family: sans-serif;
  cursor: pointer;
  align-items: center;
  padding: 10px;
  border: 2px solid rgba(172, 170, 170, 0.24);
  margin: 3px 0px;
  font-family: "Merriweather", serif;
  border-radius: 12px;
  color: white;
}
input[type="radio"]:checked ~ label {
  border-color: #0073f763;
  background-color: #0077ff56;
}
.green__label {
  border-color: rgba(0, 252, 0, 0.308) !important;
  background-color: rgba(0, 255, 0, 0.2) !important;
}
.red__label {
  border-color: rgba(255, 0, 0, 0.3) !important;
  background-color: rgba(255, 0, 0, 0.2) !important;
}
