@import "../../util/style/components";
@import "../../util/style/fonts";
@import "../../util/style/variables";

.resultCard {
    // background-color: #3a1e6b;
    background-color: $Color_Dashboard_bg;
    position: fixed;
    margin: 15px 2%;
    top: 6em;
    transition: all 200ms ease-in-out;
    border-radius: 15px;
    padding: 10px;
    width: 25%;
    // position: static;
}
.resultCard__container1 {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    padding: 20px;
    border-radius: 20px;
    background-color: $Color__Dashboard__main;

    > .container1__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
        > .container1__heading,
        > .container1__data {
            color: rgb(231, 231, 231);
            font-family: "Arvo", serif;
        }
    }
    > .container1__graph {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 150px;
    }
}

.resultCard__container2 {
    box-sizing: border-box;
    > .container2__box {
        box-sizing: border-box;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
        background: $Color__Dashboard__main;
        padding: 10px;
        margin: 10px 0px;
        width: 100%;
        border-radius: 10px;
        > .container2__box-heading {
            text-transform: capitalize;
            font-family: "Arvo", serif;
            color: rgb(218, 218, 218);
            font-size: 0.85rem;
            margin-bottom: 3px;
        }
        > .container2__box_content {
            display: flex;
            justify-content: space-between;
            > .container2__box_content_positive,
            > .container2__box_content_negative,
            > .container2__box_content_total {
                display: flex;
                align-items: center;
                font-family: "Arvo", serif;
                font-weight: 500;
            }
            > .container2__box_content_positive {
                color: green;
            }
            > .container2__box_content_negative {
                color: red;
            }
            > .container2__box_content_total {
                color: rgb(31, 145, 221);
            }
        }
    }
}
.resultCard__show {
    top: 20px;
}
