@import "../../util/style/components";
@import "../../util/style/fonts";
@import "../../util/style/variables";

.setCard {
    width: 18em;
    height: 22em;
    margin: 20px;
    border-radius: 20px;
    background-color: $Color__Dashboard__main;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    @include flexBox(column);
    justify-content: space-between;
    transition: transform 400ms ease-out;
    &:hover {
        transform: scale(1.05);
    }
}
.SetCard__imgCover {
    @include center;
    margin: 10px;
    border-radius: 20px;
    overflow: hidden;
    height: 10.5rem;
    @include skeleton;
    > img {
        border-radius: 20px;
        object-fit: cover;
        width: 17em;
        height: 10.5rem;
    }
}
.SetCard__content {
    > .heading {
        color: white;
        font-family: "Arvo", serif;
        text-transform: capitalize;
        margin-left: 20px;
    }
    > p {
        color: white;
        margin-left: 20px;
        margin-top: 5px;
    }
}
.SetCard__startbtn {
    @include center;
    margin-top: 5px;
    margin-bottom: 18px;
    > a {
        padding: 10px 20px;
        border: 2px solid;
        border-color: rgba(0, 0, 0, 0.5);
        width: 40%;
        text-align: center;
        font-weight: 700;
        text-decoration: none;
        color: rgb(221, 221, 221);
        border-radius: 10px;
        transition: background 1s ease-in-out;
        &:hover {
            color: white;
            border-color: rgba(248, 248, 248, 0);
            background: linear-gradient(151deg, rgba(20, 165, 151, 1) 5%, rgba(54, 151, 190, 1) 79%);
        }
    }
}
.skeleton__SetCard__startbtn {
    @include skeleton;
    padding: 10px 20px;
    width: 40%;
    height: 25px;
    border-radius: 10px;
}
.skeleton__text {
    @include skeleton__text;
    @include skeleton;
    width: 40% !important;
    margin-left: 20px;
}
.skeleton__text:last-child {
    width: 30% !important;
}
.skeleton__heading {
    @include skeleton__text;
    @include skeleton;
    width: 20% !important;
    margin-bottom: 15px;
    height: 0.46em;
}
