@import "../../util/style/components";
@import "../../util/style/variables";

.SkeletonQuestion {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    background-color: $Color__Dashboard__main !important;
}
.SkeletonQuestion__statement {
    margin-bottom: 15px;
}
.option-wrapper {
    @include flexBox(column);
}
.SkeletonQuestion__optionLabel {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 10px;
    border: 2px solid rgba(172, 170, 170, 0.24);
    margin: 3px 0px;
    border-radius: 12px;
    > span {
        margin-right: 7px;
    }
}

.skeleton {
    animation: skeleton_loading 1.5s linear infinite alternate;
}
.skeleton__text {
    width: 100%;
    height: 0.5rem;
    margin-bottom: 0.25rem;
    border-radius: 0.125rem;
}
.skeleton__option {
    width: 30%;
    height: 1rem;
    border-radius: 0.125rem;
}
.skeleton__text:last-child {
    margin-bottom: 0;
    width: 80%;
}
@keyframes skeleton_loading {
    0% {
        background-color: hsla(199, 20%, 70%, 0.678);
    }
    100% {
        background-color: hsla(204, 20%, 95%, 0.61);
    }
}
