$purpleGradient: linear-gradient(90deg, rgba(98, 1, 237, 1) 0%, rgba(27, 0, 61, 1) 100%);
$greenGradient: linear-gradient(90deg, rgba(41, 192, 177, 1) 59%, rgba(0, 0, 0, 1) 100%);
$Color__Dashboard__main: #272b2e;
$Color_Dashboard_bg: #212528;
$Color_Map_bg: #3a1e6b;
