@import "../../util/style/components.scss";
.questionPage {
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}
.questionForm__submitBtn {
    @include center;
    > button {
        width: 90%;
    }
}
.section1,
.section2,
.section3 {
    margin-bottom: 70px;
}
.questionForm {
    width: 70%;
    background-color: rgb(243, 243, 243);
    padding: 10px 20px;
}
