.App {
  display: flex;
  align-items: center;
  text-align: center;
}

.questionForm {
  width: 60%;
  margin: auto;
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
