* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.App {
  background-color: #212528;
  min-height: 100vh;
  /* background-color: #1b1d2e; */
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
